.tab-item {
	width: 50%;
	display: block;
	float: left;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	padding: 8px;
}

a.tab-item {
	background-color: #e9e9e9;
	color: #000000;
	text-decoration: none;
}

a.tab-item:hover {
	background-color: #11c131;
	color: #e9e9e9;
	transition: 0.5s;
}

.tab-footer {
	background-color: #e9e9e9;
	color: #000000;
	padding: 8px;
	font-size: 22px;
}

.auth-input {
	display: block;
	margin: auto;
	text-align: center;
}
