.editor-label {
	display: block;
	margin: 8px 0;
	font-size: 20px;
}

.label-col {
	display: block;
	/* float: left; */
	width: 100px;
	color: #e9e9e9;
}

.i-small {
	width: 200px;
}

.i-med {
	width: 300px;
}

.i-large {
	width: 400px;
}

.editor-question {
	background-color: rgb(0, 0, 0);
	margin: 32px 0;
	border-left: 4px solid #e9e9e9;
	padding: 16px 32px;
	position: relative;
}

.popular {
	width: 20%;
	top: 50%;
	left: 50%;
	transform: translate(100%, -250%);
}

.popular-title {
	font-size: 18px;
}

#popular-header {
	position: absolute;
	top: 33px;
	right: 240px;
}

.question-control {
	float: right;
}

.editor-input {
	position: relative;
	margin: 8px 0;
}

.editor-text {
	display: block;
	width: 100%;
	height: 50px;
	resize: vertical;
}

.editor-input [type='text'] {
	width: 95%;
}

.input:disabled {
	background-color: hsl(224, 5%, 80%);
	border-color: hsl(224, 5%, 60%);
}

.radio > input {
	display: none;
}

.radio > input + *::before {
	display: inline-block;
	vertical-align: bottom;
	width: 1em;
	height: 1em;
	margin-right: 0.3rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.1rem;
	/* border-color: #000b29; */
}

.radio > input:not(:checked):not(:disabled):hover + *::before {
	cursor: pointer;
	/* border-color: #11c131; */
	background: radial-gradient(#11c131 0%, #11c131 40%, transparent 50%, transparent);
	transition: 0.5s;
}

.radio > input:not(:checked) + *::before {
	content: '';
	background: white;
	border-color: #000000;
}

.radio > input:checked + * {
	color: #11c131;
	border: none;
}

.radio > input:disabled + *::before {
	color: #666666;
	border-color: #666666;
	cursor: auto;
}
