* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
}

body {
	font-family: 'Cascadia Code', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 150%;
}

#container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: auto;
}

#content {
	padding-bottom: 64px;
	margin: auto;
	position: relative;
}

#titlebar {
	margin: 0 auto;
	height: 64px;
	/* background-image: url('/assets/header.jpg'); */
	position: relative;
}

.logotype {
	display: inline-block;
	font-size: 32px;
	height: 48px;
	padding: 8px;
	text-decoration: none;
	color: #eef115;
	font-weight: bolder;
	position: relative;
}

.merge {
	position: relative;
	left: -6px;
	margin-right: 8px;
}

.logotype:hover {
	color: #11c131;
	transition: 0.5s;
}

#titlebar nav {
	position: absolute;
	height: 64px;
	padding-top: 16px;
	width: 100%;
	bottom: 0;
}

#user-nav,
#guest-nav {
	float: left;
}

.navigation {
	float: right;
}

.nav-link {
	float: left;
	color: #eef115;
	text-decoration: none;
	font-size: 24px;
	padding: 12px 8px;
	font-weight: bold;
}

.profile-link {
	font-size: 36px;
	padding: 6px 8px;
}

.nav-link:hover {
	color: #11c131;
	transition: 0.5s;
}

#footer {
	width: 100%;
	height: 64px;
	margin: auto;
	line-height: 64px;
	background-color: #000b29;
	color: #edb83d;
	font-size: 20px;
	position: absolute;
	bottom: 0;
}

footer {
	text-align: center;
}

.layout::after {
	content: '';
	/* display: table; */
	clear: both;
}

.pad-small {
	padding: 8px 16px;
}

.pad-med {
	padding: 16px 32px;
}

.q-pad-med {
	padding: 25px 36px;
}

.pad-large {
	padding: 32px 64px;
}

.left-col {
	margin-right: 200px;
}

.right-col {
	float: right;
}

.narrow {
	margin-left: 250px;
	margin-right: 250px;
}

.centered {
	text-align: center;
}

.glass {
	background-color: #000000;
	color: #e9e9e9;
	box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
}

.hero {
	background-image: linear-gradient(to bottom, rgba(2, 8, 38, 0.52), rgba(52, 4, 40, 0.73)),
		url('/assets/banner.jpg');
	padding: 64px;
}

.hero-prof {
	background-image: linear-gradient(to bottom, rgba(2, 8, 38, 0.52), rgba(52, 4, 40, 0.73)),
		url('/assets/banner.jpg');
}

.splash {
	position: absolute;
	right: 2%;
	top: 15.8%;
	font-size: 100px;
	color: #11c131;
}

.welcome {
	padding: 32px;
	font-size: 140%;
	height: 240px;
	width: 40%;
	/* border-radius: 20px; */
	display: grid;
	position: relative;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10%);
}

.welcome p {
	margin-top: 32px;
}

.alt-page {
	background-color: #827474;
	position: relative;
}

.cta {
	display: block;
	margin: 32px auto;
	text-align: center;
	font-size: 20px;
}

.action {
	display: inline-block;
	background-color: #e9e9e9;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
}

.action:hover {
	background-color: #11c131;
	color: #e9e9e9;
	cursor: pointer;
	transition: 0.5s;
}

.async {
	position: relative;
}

.block {
	display: block;
}
