.profile h2 {
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 13px;
	padding-top: 15px;
}

.profile p {
	margin: 8px 0;
}

.profile-info {
	width: 100px;
	font-weight: 700;
}

.quiz-results {
	width: 100%;
	margin-top: 15px;
}

.showBtn {
	padding: 2px 10px;
	padding-bottom: 0;
	margin: 0 auto;
}

#solved-txt {
	margin-top: 25px;
}

#levelInfo {
	padding-top: 15px;
	font-style: italic;
	/* font-size: 14px; */
}

#levelTable,
#levelTable tr,
#levelTable td {
	border: 2px solid white;
	border-spacing: 10px;
	padding: 20px;
	/* padding-top: 0; */
}

.results-row:hover {
	background-color: #e9e9e9;
	transition: 0.5s;
	color: #111111;
}

.cell-1 {
	width: 120px;
}

.cell-2 {
	font-weight: 700;
}

.cell-3 {
	width: 75px;
	text-align: center;
	font-weight: 700;
}

.cell-4 {
	width: 200px;
	text-align: center;
}
