.preview {
	background-color: rgb(0, 0, 0);
	margin: 32px 0;
	border-left: 8px solid #ffffff;
	padding: 16px 32px;
	position: relative;
}

.preview:hover {
	border-color: #11c131;
	transition: 0.5s;
}

/* .preview p {
	color: #ffffff;
} */

.quiz-title-link {
	text-decoration: none;
	color: #ffffff;
}

.quiz-title-link:hover {
	color: #11c131;
	transition: 0.5s;
}

.quiz-topic {
	color: #ffffff;
	display: block;
}

.quiz-meta {
	color: #ffffff;
}

.browse-filter {
	float: right;
}

.input {
	font-size: 18px;
	border: 1px solid #000b29;
	padding: 2px 4px;
}

.submit {
	font-size: 18px;
	border: none;
	padding: 4px 8px;
}

.details {
	border: 4px solid #11c131;
	margin: 32px 0;
	padding: 32px 64px;
	position: relative;
	text-align: center;
}

.details h1 {
	margin-bottom: 32px;
}

.quiz-desc {
	text-align: left;
	margin-top: 32px;
	color: #ffffff;
}

#descCount {
	color: #e1bf00;
}

.question {
	border-left: 8px solid #11c131;
	background-color: rgb(0, 0, 0);
	padding: 32px 64px;
}

.q-text {
	font-size: 24px;
	margin-bottom: 32px;
	line-height: 1.5;
	color: #ffffff;
}

#q-result {
	margin-top: 20px;
	padding: 5px;
	color: #ffffff;
}

.ans-normal {
	color: #ffffff;
}

.q-remaining {
	color: #ffffff;
	margin-bottom: 15px;
}

.q-saved {
	color: #ffffff;
}

.q-control {
	margin-top: 32px;
}

.q-answer {
	font-size: 20px;
	display: block;
	margin: 16px 0;
	cursor: pointer;
	color: #ffffff;
}

.q-index {
	float: left;
	display: block;
	width: 22px;
	height: 22px;
	border: 2px solid #000000;
	margin: 2px;
	font-size: 10px;
	line-height: 10px;
	background-color: #f8f5f2;
	position: relative;
}

.q-current::after {
	content: '';
	position: absolute;
	display: block;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color: #ff8c00;
}

.q-answered {
	background-color: #11c131;
}

.q-index:hover {
	background-color: #11c131;
	transition: 0.5s;
}

.summary {
	font-size: 24px;
	margin: 16px auto;
	padding: 16px;
	background-color: #11c131;
	width: 320px;
	font-weight: bold;
}

.summary-top {
	font-size: 32px;
}

.s-correct {
	background-color: #11c131;
	padding: 4px 16px;
}

.s-correct i {
	color: #009c2a;
}

.s-incorrect {
	background-color: #ff623b;
	padding: 4px 16px;
}

.s-incorrect i {
	color: #af2300;
}

.s-answer {
	margin: 16px 0;
}

.s-answer span {
	padding: 4px 16px;
}
