.night {
	background-color: #000b29;
	color: white;
}

.red {
	background-color: #d70026;
}

.pearl {
	background-color: #e9e9e9;
}

.flash {
	background-color: #edb83d;
}

body {
	background-color: #111;
}

h1,
h2,
h3 {
	color: #e9e9e9;
	font-size: 24px;
}

a {
	color: #e1bf00;
	text-decoration: none;
}

a:hover {
	color: #628900;
	transition: 0.5s;
}

.invert {
	color: #ff8000;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gr {
	background: rgb(28 54 81);
}

header {
	background-color: rgb(0, 0, 0);
}
